<p id="notice"><%= notice %></p>

<p>
  <strong>Purchaser name:</strong>
  <%= @ledger_import.purchaser_name %>
</p>

<p>
  <strong>Item description:</strong>
  <%= @ledger_import.item_description %>
</p>

<p>
  <strong>Item price:</strong>
  <%= @ledger_import.item_price %>
</p>

<p>
  <strong>Purchase count:</strong>
  <%= @ledger_import.purchase_count %>
</p>

<p>
  <strong>Merchant address:</strong>
  <%= @ledger_import.merchant_address %>
</p>

<p>
  <strong>Merchant name:</strong>
  <%= @ledger_import.merchant_name %>
</p>

<%= link_to 'Edit', edit_ledger_import_path(@ledger_import) %> |
<%= link_to 'Back', ledger_imports_path %>
